In [1]:
import geopandas as gpd
from requests import Request
from owslib.wfs import WebFeatureService

In [2]:
url = "https://pubgeo.zwemwater.nl/geoserver/zwr_public/wfs"
wfs = WebFeatureService(url=url)

## Schemas

In [3]:
# schemas = []
# for item in wfs.items():
#     data = load_wfs_layer(item[0])
#     schemas.append((item[0], data.columns))
# schemas

In [4]:
def load_wfs_layer(layer_name):
    params = dict(service='WFS', version="2.0.0", request='GetFeature',
      typeName=layer_name, outputFormat='json', srsName="EPSG:4326")
    wfs_request_url = Request('GET', url, params=params).prepare().url
    return gpd.read_file(wfs_request_url)

## Zwemplekken

In [5]:
zwemplekken = load_wfs_layer("zwr_public:zwemplekken")
zwemplekken = zwemplekken.drop(columns=['id', 'datum']).drop_duplicates(subset=["zwemwaterlocatie_id"]).set_index('key_id')
zwemplekken

,korte_naam,naam,status,zwemwaterlocatie_id,geometry
key_id,,,,,
6187300,Voorveldse Polder,Voorveldse Polder,NEGATIEF_ZWEMADVIES,1185,POINT (5.1522 52.1005)
2316,'t Kleine Zeetje,Recreatiepark 't Kleine Zeetje,NEGATIEF_ZWEMADVIES,1595,POINT (5.3762 52.2602)
1946,Plas Merwelanden,Plas Merwelanden,NEGATIEF_ZWEMADVIES,1225,POINT (4.7658 51.8102)
1954,Plas Vrijenburgbos,Plas Vrijenburgbos,NEGATIEF_ZWEMADVIES,1233,POINT (4.5003 51.868)
1962,Kralinger Esch,Kralinger Esch,NEGATIEF_ZWEMADVIES,1241,POINT (4.5253 51.9138)
...,...,...,...,...,...
8184932,'t Gorsselaar,Bussloo 't Gorsselaar,goed,8184902,POINT (6.0963 52.2021)
8184934,De Kuiter,Bussloo De Kuiter (Naturistenstrand),goed,8184903,POINT (6.0998 52.1959)
8186500,Aquapark,Kempervennen Aquapark,goed,8186460,POINT (5.4247 51.3272)
8192100,Oude Tol,Oude Tol,goed,8192060,POINT (4.3975 51.8305)
8194230,Badstrand Ballum,"Badstrand Ballum, Ameland",goed,8194200,POINT (5.6959 53.4642)

In [9]:
zwemplekken_details = load_wfs_layer("zwr_public:zwemplekken_details")
zwemplekken_details = zwemplekken_details.drop(columns=["id", "info_id", "geometry", "datum"])
zwemplekken_details

,adr_huisletter,adr_huisnummer,adr_huisnummertoevoeging,adr_postcode,adr_straat,adr_woonplaats,info_filename,info_length,info_mime_type,key_id,...,org_straat,org_telefoon,org_website,org_woonplaats,status,taal,tekst,toegang,website,zwemwaterlocatie_id
0,None,NaN,None,None,De Dreef,Heerenveen,FR-043-001 De Heide.jpg,356023.0,image/jpeg,1676,...,,0513-617 617,http://www.heerenveen.nl,Heerenveen,goed,nl,"Het recreatiegebied “De Heide”, ligt aan de zu...",OPENBAAR ONBETAALD,None,955
1,,NaN,,None,Spokedam,Noordwolde,FR-046-001 Spoekeplas.jpg,297473.0,image/pjpeg,1677,...,,050 707 4444,http://www.staatsbosbeheer.nl,Groningen,goed,nl,Het zwemwater Spoekeplas ligt ten zuidwesten v...,OPENBAAR ONBETAALD,None,956
2,None,NaN,None,None,Canada,Appelscha,Canadameer Appelscha.png,212248.0,image/png,1678,...,,050 707 4444,http://www.staatsbosbeheer.nl,Groningen,goed,nl,Het Canadameer (ook wel Aekingermeer genoemd) ...,OPENBAAR ONBETAALD,None,957
3,None,NaN,None,None,Kleasterkampen,Smalle Ee,FR-028-001 Smeliester SaÌ‚n.jpg,210638.0,image/pjpeg,1680,...,,0512-581234,http://www.smallingerland.nl,Drachten,goed,nl,Het zwemwater ligt aan de zuidzijde van het ge...,OPENBAAR ONBETAALD,None,959
4,None,NaN,None,None,Bildreed,Rottevalle,FR-027-001 De Leien.jpg,209646.0,image/pjpeg,1681,...,,050 707 4444,http://www.staatsbosbeheer.nl,Groningen,WAARSCHUWING,nl,Het zwemwater ligt enkele kilometers ten noord...,OPENBAAR ONBETAALD,None,960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,None,NaN,None,None,Kneuterstraat,Wilp,GLD-004-007 BUSSLOO GORSSELAAR 2020.jpg,2995096.0,image/jpeg,8184932,...,Westervoortsedijk 73-LB,026-3848800,http://www.leisurelands.nl,Arnhem,goed,nl,De recreatieplas Bussloo ligt temidden van de ...,Openbaar betaald parkeren voor auto's,http://www.leisurelands.nl/,8184902
951,None,NaN,None,None,Bloemenksweg,Wilp,GLD-004-013 BUSSLOO DE KUITER 2020.jpg,2981855.0,image/jpeg,8184934,...,Westervoortsedijk 73-LB,026-3848800,http://www.leisurelands.nl,Arnhem,goed,nl,De recreatieplas Bussloo ligt temidden van de ...,"Openbaar, betaald parkeren voor auto's",http://www.leisurelands.nl/,8184903
952,None,8.0,None,5563VB,Kempervennendreef,Westerhoven,None,NaN,None,8186500,...,Bosscheweg,(0411) 618 618,http://www.dommel.nl/,Boxtel,goed,nl,zwemlocatie Aquapark is ingericht als een drij...,Openbaar toegankelijk via kaartjesverkoop,None,8186460
953,None,35.0,None,3263RA,Randweg,Oud-Beijerland,None,NaN,None,8192100,...,Sportlaan,088-6473647,https://www.gemeentehw.nl/,Maasdam,goed,nl,De zwemlocatie heeft een zwembaai gelegen aan ...,None,None,8192060
954,None,NaN,None,None,None,Ballum,None,NaN,None,8194230,...,None,0519-555555,http://www.ameland.nl,Ameland,goed,nl,Zwemlocatie Badstrand Ballum is een zwemlocati...,None,None,8194200

In [7]:
base_data = zwemplekken_details.copy()
base_data = base_data[["zwemwaterlocatie_id", "naam", "korte_naam", "status", "tekst", "info_filename", "website"]]
base_data

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website
0,955,De Heide,Heide,goed,"Het recreatiegebied “De Heide”, ligt aan de zu...",FR-043-001 De Heide.jpg,None
1,956,Spoekeplas,Spoekeplas,goed,Het zwemwater Spoekeplas ligt ten zuidwesten v...,FR-046-001 Spoekeplas.jpg,None
2,957,Canadameer,Canadameer,goed,Het Canadameer (ook wel Aekingermeer genoemd) ...,Canadameer Appelscha.png,None
3,959,Smeliester Sân,Smeliester Sân,goed,Het zwemwater ligt aan de zuidzijde van het ge...,FR-028-001 Smeliester SaÌ‚n.jpg,None
4,960,De Leien,De Leien,WAARSCHUWING,Het zwemwater ligt enkele kilometers ten noord...,FR-027-001 De Leien.jpg,None
...,...,...,...,...,...,...,...
950,8184902,Bussloo 't Gorsselaar,'t Gorsselaar,goed,De recreatieplas Bussloo ligt temidden van de ...,GLD-004-007 BUSSLOO GORSSELAAR 2020.jpg,http://www.leisurelands.nl/
951,8184903,Bussloo De Kuiter (Naturistenstrand),De Kuiter,goed,De recreatieplas Bussloo ligt temidden van de ...,GLD-004-013 BUSSLOO DE KUITER 2020.jpg,http://www.leisurelands.nl/
952,8186460,Kempervennen Aquapark,Aquapark,goed,zwemlocatie Aquapark is ingericht als een drij...,None,None
953,8192060,Oude Tol,Oude Tol,goed,De zwemlocatie heeft een zwembaai gelegen aan ...,None,None
954,8194200,"Badstrand Ballum, Ameland",Badstrand Ballum,goed,Zwemlocatie Badstrand Ballum is een zwemlocati...,None,None

In [25]:
zwemplekdata = zwemplekken.merge(base_data, left_on="zwemwaterlocatie_id", right_on="zwemwaterlocatie_id", how="left")
zwemplekdata['lat'] = zwemplekdata['geometry'].y
zwemplekdata['lon'] = zwemplekdata['geometry'].x
zwemplekdata = zwemplekdata.drop(columns=["korte_naam_x", "naam_x", "status_x", "geometry"])
zwemplekdata = zwemplekdata.rename(columns={
    "naam_y": "naam",
    "korte_naam_y": "korte_naam",
    "status_y": "status"
})
zwemplekdata.sort_values(by=["naam"], inplace=True)
zwemplekdata

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website,lat,lon
820,1323,Engelermeer Oost,Engelermeer Oost,goed,Het Engelermeer is een serie kunstmatige plass...,NB-031-001 Engelermeer Oost.jpg,None,51.7046,5.2461
797,1259,'T Hoefsven,'T Hoefsven,goed,De locatie ligt ten zuidoosten van Waalwijk. E...,NB-063-001 't Hoefsven.jpg,None,51.6761,5.0942
334,1341,'T Nije Hemelriek,'T Nije Hemelriek,goed,De zwemlocatie “’t Nije Hemelriek” is gelegen ...,Recreatiezone_'t_Nije_Hemelriek.jpg,None,52.9725,6.7556
828,1315,'T Schaartven,'T Schaartven,goed,"‘t Schaartven is een voormalige zandwinplas, g...",None,None,51.5735,5.9749
337,1344,'T Veenmeer,'T Veenmeer,goed,De zwemlocatie ‟t Veenmeer is gelegen in Tynaa...,Recreatiezone_'t_Veenmeer.jpg,None,53.0829,6.6303
...,...,...,...,...,...,...,...,...,...
66,7941840,strand Kortgene Paardekreek,Paardekreek,WAARSCHUWING,Door camping de Paardekreek aangelegd zandstra...,None,None,51.5496,3.8096
921,7356682,strand zoutkamp,None,goed,strand zoutkamp in onderzoek,None,None,53.3388,6.2973
903,6837320,strand zuid Oldambtmeer,strand zuid,goed,strand zuid oldambtmeer,Recreatiezone Zuid Blauwe Stad kopie-1.jpg,None,53.1651,7.0372
902,6997562,strandje Brouwershaven,Brouwershaven,goed,Strandje naast jachthaven van Brouwershaven,None,None,51.7315,3.9154
297,1240,t Zwarte Plasje,'t Zwarte Plasje,goed,t Zwarte Plasje,42__t_Zwarte_Plasje.jpg,None,51.9593,4.4913

In [39]:
eu_current_designations = eu_designations.query("jaar == 2023")
eu_current_designations = eu_current_designations.drop(columns=["key_id", "jaar"])
eu_current_designations
data = zwemplekdata.merge(eu_current_designations, left_on="zwemwaterlocatie_id", right_on="zwemwaterlocatie_id", how="left")
data.fillna({'code': 0}, inplace=True)
data

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website,lat,lon,code
0,1323,Engelermeer Oost,Engelermeer Oost,goed,Het Engelermeer is een serie kunstmatige plass...,NB-031-001 Engelermeer Oost.jpg,None,51.7046,5.2461,1
1,1259,'T Hoefsven,'T Hoefsven,goed,De locatie ligt ten zuidoosten van Waalwijk. E...,NB-063-001 't Hoefsven.jpg,None,51.6761,5.0942,1
2,1341,'T Nije Hemelriek,'T Nije Hemelriek,goed,De zwemlocatie “’t Nije Hemelriek” is gelegen ...,Recreatiezone_'t_Nije_Hemelriek.jpg,None,52.9725,6.7556,1
3,1315,'T Schaartven,'T Schaartven,goed,"‘t Schaartven is een voormalige zandwinplas, g...",None,None,51.5735,5.9749,1
4,1344,'T Veenmeer,'T Veenmeer,goed,De zwemlocatie ‟t Veenmeer is gelegen in Tynaa...,Recreatiezone_'t_Veenmeer.jpg,None,53.0829,6.6303,1
...,...,...,...,...,...,...,...,...,...,...
950,7941840,strand Kortgene Paardekreek,Paardekreek,WAARSCHUWING,Door camping de Paardekreek aangelegd zandstra...,None,None,51.5496,3.8096,1
951,7356682,strand zoutkamp,None,goed,strand zoutkamp in onderzoek,None,None,53.3388,6.2973,1
952,6837320,strand zuid Oldambtmeer,strand zuid,goed,strand zuid oldambtmeer,Recreatiezone Zuid Blauwe Stad kopie-1.jpg,None,53.1651,7.0372,2
953,6997562,strandje Brouwershaven,Brouwershaven,goed,Strandje naast jachthaven van Brouwershaven,None,None,51.7315,3.9154,1
954,1240,t Zwarte Plasje,'t Zwarte Plasje,goed,t Zwarte Plasje,42__t_Zwarte_Plasje.jpg,None,51.9593,4.4913,1

In [66]:
measurements = load_wfs_layer("zwr_public:resultaatsen")
measurements = measurements.drop(columns=['id', 'datum_geplande_monstername', 'monitoring_datum_id', 'monitoring_plan_id', 'monster_id', 'type_object_id', 'geometry'])
measurements = measurements.sort_values(["zwemwaterlocatie_id", "object_begin_tijd", "type_object_code"])
measurements = measurements.drop_duplicates(subset=["zwemwaterlocatie_id", "type_object_code"], keep="last")
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
4214,90,2024-07-22 07:05:00+00:00,8321908,E_COLI,955
8542,15,2024-07-22 07:05:00+00:00,8321909,INTTNLETRCCN,955
3777,270,2024-07-15 07:05:00+00:00,8311299,E_COLI,956
8103,15,2024-07-15 07:05:00+00:00,8311350,INTTNLETRCCN,956
3778,20,2024-07-15 07:46:00+00:00,8311371,E_COLI,957
...,...,...,...,...,...
8612,15,2024-07-23 11:30:00+00:00,8325003,INTTNLETRCCN,8186460
4057,410,2024-07-16 12:32:00+00:00,8316128,E_COLI,8192060
8383,15,2024-07-16 12:32:00+00:00,8316140,INTTNLETRCCN,8192060
3812,15,2024-07-15 06:25:00+00:00,8312483,E_COLI,8194200
8137,15,2024-07-15 06:25:00+00:00,8312482,INTTNLETRCCN,8194200

In [ ]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(measurements):
    # Filter rows based on column: 'zwemwaterlocatie_id'
    measurements = measurements[measurements['zwemwaterlocatie_id'] == 6837320]
    return measurements

measurements_clean = clean_data(measurements.copy())
measurements_clean.head()

In [67]:
measure = measurements.pivot_table(values='numerieke_waarde', index='zwemwaterlocatie_id', columns='type_object_code')
measure

type_object_code     E_COLI  INTTNLETRCCN
zwemwaterlocatie_id
955                    90.0          15.0
956                   270.0          15.0
957                    20.0          20.0
959                  1600.0         200.0
960                   770.0          30.0
...                     ...           ...
8184902                15.0          15.0
8184903               144.0          15.0
8186460                15.0          15.0
8192060               410.0          15.0
8194200                15.0          15.0

[749 rows x 2 columns]

In [68]:
data = data.merge(measure, on="zwemwaterlocatie_id", how="left")
data

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website,lat,lon,code,E_COLI,INTTNLETRCCN
0,1323,Engelermeer Oost,Engelermeer Oost,goed,Het Engelermeer is een serie kunstmatige plass...,NB-031-001 Engelermeer Oost.jpg,None,51.7046,5.2461,1,46.0,46.0
1,1259,'T Hoefsven,'T Hoefsven,goed,De locatie ligt ten zuidoosten van Waalwijk. E...,NB-063-001 't Hoefsven.jpg,None,51.6761,5.0942,1,15.0,46.0
2,1341,'T Nije Hemelriek,'T Nije Hemelriek,goed,De zwemlocatie “’t Nije Hemelriek” is gelegen ...,Recreatiezone_'t_Nije_Hemelriek.jpg,None,52.9725,6.7556,1,15.0,15.0
3,1315,'T Schaartven,'T Schaartven,goed,"‘t Schaartven is een voormalige zandwinplas, g...",None,None,51.5735,5.9749,1,15.0,15.0
4,1344,'T Veenmeer,'T Veenmeer,goed,De zwemlocatie ‟t Veenmeer is gelegen in Tynaa...,Recreatiezone_'t_Veenmeer.jpg,None,53.0829,6.6303,1,46.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...
950,7941840,strand Kortgene Paardekreek,Paardekreek,WAARSCHUWING,Door camping de Paardekreek aangelegd zandstra...,None,None,51.5496,3.8096,1,15.0,15.0
951,7356682,strand zoutkamp,None,goed,strand zoutkamp in onderzoek,None,None,53.3388,6.2973,1,161.0,15.0
952,6837320,strand zuid Oldambtmeer,strand zuid,goed,strand zuid oldambtmeer,Recreatiezone Zuid Blauwe Stad kopie-1.jpg,None,53.1651,7.0372,2,253.0,46.0
953,6997562,strandje Brouwershaven,Brouwershaven,goed,Strandje naast jachthaven van Brouwershaven,None,None,51.7315,3.9154,1,77.0,15.0
954,1240,t Zwarte Plasje,'t Zwarte Plasje,goed,t Zwarte Plasje,42__t_Zwarte_Plasje.jpg,None,51.9593,4.4913,1,15.0,15.0

# Voorzieningen

In [40]:
zwemplek_voorziening = load_wfs_layer("zwr_public:zwemplek_voorziening")
zwemplek_voorziening

,id,aanvulling,code,groep,omschrijving,taal,key_id,voorziening_type_id,zwemplek_id,zwemwaterlocatie_id,geometry
0,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943907,GENERIEK,Infobord,None,597838,5943907,1811,1090,"POLYGON ((4.9613 52.2491, 4.9615 52.2492, 4.96..."
1,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943892,HYGIENE,Afvalbakken,None,599138,5943892,1935,1214,"POLYGON ((4.2478 51.8493, 4.2484 51.8496, 4.24..."
2,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943916,RECREATIE,Speelweide,None,6802511,5943916,6566150,6502091,POINT (5.7796 51.519)
3,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,EHBO post,5943900,ONBEPERKT,EHBO,nl,594394,5943900,1712,991,"POLYGON ((6.128 52.5405, 6.1282 52.5406, 6.129..."
4,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943915,RECREATIE,Speeltoestellen,None,597839,5943915,1811,1090,"POLYGON ((4.9613 52.2491, 4.9615 52.2492, 4.96..."
...,...,...,...,...,...,...,...,...,...,...,...
10998,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943929,RECREATIE,Zandstrand,None,8200653,5943929,7714058,1675,"POLYGON ((4.5976 52.5286, 4.5986 52.5285, 4.59..."
10999,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943929,RECREATIE,Zandstrand,None,8200654,5943929,2396,1675,"POLYGON ((4.5958 52.5236, 4.5957 52.5231, 4.59..."
11000,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943929,RECREATIE,Zandstrand,None,8200655,5943929,7714057,1675,"POLYGON ((4.5863 52.4989, 4.5876 52.4986, 4.58..."
11001,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943907,GENERIEK,Infobord,None,8273310,5943907,8011970,1115,"POLYGON ((4.7642 52.6814, 4.7641 52.681, 4.764..."
11002,zwemplek_voorziening.fid-6a1ff475_1910285283d_...,None,5943906,ONBEPERKT,Horeca,None,8273311,5943906,8011970,1115,"POLYGON ((4.7642 52.6814, 4.7641 52.681, 4.764..."

In [41]:
unique_amenities = zwemplek_voorziening.copy()
unique_amenities = unique_amenities.drop_duplicates("code").drop(columns=['id', 'taal', 'zwemplek_id', 'zwemwaterlocatie_id', 'geometry'])
unique_amenities = unique_amenities[['voorziening_type_id', 'omschrijving', 'groep']].set_index('voorziening_type_id')
unique_amenities

                                     omschrijving       groep
voorziening_type_id
5943907                                  Infobord    GENERIEK
5943892                               Afvalbakken     HYGIENE
5943916                                Speelweide   RECREATIE
5943900                                      EHBO   ONBEPERKT
5943915                           Speeltoestellen   RECREATIE
5943891                           Aflopende bodem  VEILIGHEID
5943927                            WC / Toiletten     HYGIENE
5943911                                  Ligweide   RECREATIE
5943917                                Strandhuis   RECREATIE
5943898                                 Drijflijn  VEILIGHEID
5943913                        Parkeergelegenheid   ONBEPERKT
5943906                                    Horeca   ONBEPERKT
5943895                        Diepte zwemlocatie  VEILIGHEID
5943930                                Zoet water    GENERIEK
5943894                               Blauwe vlag   ONBEPERKT
5943902                           Fietsenstalling    GENERIEK
5943901                             Entreeheffing   ONBEPERKT
5943932                       Zwemzone afgebakend  VEILIGHEID
5943897                                   Douches     HYGIENE
5943893                         Bereikbaar met OV    GENERIEK
5943905                         Honden toegestaan   ONBEPERKT
5943929                                Zandstrand   RECREATIE
5943903                              Getijdewater  VEILIGHEID
5943923                      Toezicht categorie D  VEILIGHEID
5943931                                Zout water    GENERIEK
5943912                               Naaktstrand   RECREATIE
5943890                         Afdrijvingsgevaar  VEILIGHEID
5943919                        Surf mogelijkheden   RECREATIE
5943914                           Reddingsbrigade   ONBEPERKT
5943922                      Toezicht categorie C   ONBEPERKT
5943924                            Trailerhelling   ONBEPERKT
5943925                               Uitkijkpost   ONBEPERKT
5943920                            Teken aanwezig   ONBEPERKT
5943910                               Kleedruimte   RECREATIE
5943896                                 Doorzicht  VEILIGHEID
5943921               Toegankelijk voor invaliden    GENERIEK
5943904                                   Grootte    GENERIEK
5943926              Voorzieningen voor invaliden    GENERIEK
5943899                                 Duiktoren   RECREATIE
5943909                    Kitesurf mogelijkheden   RECREATIE
5943908                      Jetski mogelijkheden   RECREATIE
5943918                            Strandrolstoel    GENERIEK
5943928                             Waterglijbaan   RECREATIE

## EU Designations

In [42]:
eu_designations = load_wfs_layer("zwr_public:eustatussen")
eu_designations = eu_designations[eu_designations['jaar'] == 2023].drop(columns=['type_eu_status_id', 'geometry', 'omschrijving', 'id'])
eu_designations

     code   key_id  jaar  zwemwaterlocatie_id
7010    1  8135490  2023                 1267
7011    1  8135491  2023                 1268
7012    1  8135492  2023                 1270
7013    1  8135493  2023                 1271
7014    1  8135494  2023                 1273
...   ...      ...   ...                  ...
7751    4  8167548  2023                 1112
7752    4  8167553  2023                 1118
7753    3  8167559  2023                 1124
7754    4  8167555  2023                 1120
7755    4  8167550  2023                 1114

[731 rows x 4 columns]

## Measurements

In [54]:
measurements = load_wfs_layer("zwr_public:resultaatsen")
measurements = measurements.drop(columns=['id', 'datum_geplande_monstername', 'monitoring_datum_id', 'monitoring_plan_id', 'monster_id', 'type_object_id', 'geometry'])
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
0,15,2024-04-08 08:41:00+00:00,8200826,E_COLI,1076
1,15,2024-04-08 07:00:00+00:00,8200863,E_COLI,1036
2,15,2024-04-08 08:33:00+00:00,8200868,E_COLI,1075
3,15,2024-04-08 10:09:00+00:00,8200918,E_COLI,1079
4,15,2024-04-08 06:15:00+00:00,8200936,E_COLI,302622
...,...,...,...,...,...
8652,15,2024-07-24 09:53:22+00:00,8325593,INTTNLETRCCN,1021
8653,61,2024-07-22 10:06:00+00:00,8325610,INTTNLETRCCN,1460
8654,15,2024-07-23 11:00:00+00:00,8325615,INTTNLETRCCN,8184903
8655,30,2024-07-24 11:50:00+00:00,8325714,INTTNLETRCCN,1251
8656,15,2024-07-24 12:52:37+00:00,8325920,INTTNLETRCCN,7716690

In [56]:
measurements.dtypes

numerieke_waarde                     int32
object_begin_tijd      datetime64[ms, UTC]
key_id                               int32
type_object_code                    object
zwemwaterlocatie_id                  int32
dtype: object

In [60]:
measurements = measurements.sort_values(["zwemwaterlocatie_id", "object_begin_tijd", "type_object_code"])
measurements = measurements.drop_duplicates(subset=["zwemwaterlocatie_id", "type_object_code"], keep="first")
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
8542,15,2024-07-22 07:05:00+00:00,8321909,INTTNLETRCCN,955
8103,15,2024-07-15 07:05:00+00:00,8311350,INTTNLETRCCN,956
8104,20,2024-07-15 07:46:00+00:00,8311372,INTTNLETRCCN,957
8105,200,2024-07-15 05:34:00+00:00,8311394,INTTNLETRCCN,959
8106,30,2024-07-15 09:26:00+00:00,8311416,INTTNLETRCCN,960
...,...,...,...,...,...
8495,15,2024-07-22 07:50:00+00:00,8319982,INTTNLETRCCN,8184902
8654,15,2024-07-23 11:00:00+00:00,8325615,INTTNLETRCCN,8184903
8612,15,2024-07-23 11:30:00+00:00,8325003,INTTNLETRCCN,8186460
8383,15,2024-07-16 12:32:00+00:00,8316140,INTTNLETRCCN,8192060
8137,15,2024-07-15 06:25:00+00:00,8312482,INTTNLETRCCN,8194200

## Preventative measures

In [44]:
preventative_measures = load_wfs_layer("zwr_public:zwemplek_maatregel")
preventative_measures = preventative_measures.drop(columns=['id', 'bw_code', 'object_type', 'toelichtingstandaardextended', 'type', 'geometry', 'zwemplek_naam'])
preventative_measures

,key_id,objectbegintijd,objecteindtijd,omschrijving,redeningetrokken,status,toelichtingpubliek,toelichtingstandaard,zwemplek_id,zwemwaterlocatie_id
0,8326441,2024-07-28,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,1879,1158
1,8224744,2024-04-30,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_KWALITEIT,1813,1092
2,8322991,2024-07-24,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_ZWEMMERSJEUK,2073,1352
3,8313084,2024-07-17,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_KWALITEIT,1681,960
4,8322998,2024-07-24,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,1773,1052
...,...,...,...,...,...,...,...,...,...,...
123,8220742,2024-04-30,2024-09-30,None,None,NEGATIEF_ZWEMADVIES,Voor deze locatie geldt gedurende het gehele z...,ONTRADEN_KWALITEIT,1888,1167
124,8322990,2024-07-23,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,7942930,7942900
125,8311844,2024-07-16,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1685,964
126,8251953,2024-05-28,NaT,None,None,WAARSCHUWING,Gevaarlijke waterbodem,WAARSCHUWING_ONVEILIGE_SITUATIE,302028,1502
127,8287239,2024-06-26,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1985,1264

In [45]:
locs = load_wfs_layer("zwr_public:zwemwaterlocaties")
locs = locs.drop(columns=["id", "datum", "objecttype", "zwl_acht_info"])
locs

,begin_dag,begin_maand,eind_dag,eind_maand,gebied_id,key_id,korte_naam,laatstbijgewerkt,laatstemonstername,naam,status,zwl_besch_taal,zwl_besch_tekst,geometry
0,1,5,30,9,29087,955,De Heide,2012-09-07 07:39:43.684000+00:00,2024-07-21,"De Heide, Heerenveen",goed,nl,"Het recreatiegebied “De Heide”, ligt aan de zu...",POINT (5.9211 52.9406)
1,1,5,30,9,29085,956,Spoekeplas,2012-09-06 13:13:39.171000+00:00,2024-07-14,"Spoekeplas, Noordwolde",goed,nl,Het zwemwater Spoekeplas ligt ten zuidwesten v...,POINT (6.1331 52.8795)
2,1,5,30,9,29085,957,Canadameer,2012-09-06 13:14:39.480000+00:00,2024-07-14,"Canadameer, Appelscha",goed,nl,Het Canadameer (ook wel Aekingermeer genoemd) ...,POINT (6.2817 52.9355)
3,1,5,30,9,29085,959,Smeliester Sân,2012-09-06 13:13:06.324000+00:00,2024-07-14,"Smeliester Sân, Smalle Ee",goed,nl,Het zwemwater ligt aan de zuidzijde van het ge...,POINT (6.0204 53.107)
4,1,5,30,9,29086,960,De Leien,2012-09-06 13:08:13.373000+00:00,2024-07-14,"De Leien, Rottevalle",WAARSCHUWING,nl,Het zwemwater ligt enkele kilometers ten noord...,POINT (6.0803 53.1564)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,1,5,30,9,304862,8184902,'t Gorsselaar,2024-04-18 15:28:41.740000+00:00,2024-07-21,Bussloo 't Gorsselaar,goed,nl,De recreatieplas Bussloo ligt temidden van de ...,POINT (6.0964 52.2023)
756,1,5,30,9,304862,8184903,De Kuiter,2024-04-18 15:34:14.432000+00:00,2024-07-22,Bussloo De Kuiter (Naturistenstrand),goed,nl,De recreatieplas Bussloo ligt temidden van de ...,POINT (6.0987 52.1957)
757,1,5,30,9,29515,8186460,Aquapark,2024-02-13 12:04:53.027000+00:00,2024-07-22,Kempervennen Aquapark,goed,nl,zwemlocatie Aquapark is ingericht als een drij...,POINT (5.4249 51.3272)
758,1,5,30,9,304867,8192060,Oude Tol,2024-03-11 10:46:50.618000+00:00,2024-07-15,Oude Tol,goed,nl,De zwemlocatie heeft een zwembaai gelegen aan ...,POINT (4.3975 51.8305)
759,1,5,30,9,29082,8194200,Badstrand Ballum,2024-04-08 12:05:57.946000+00:00,2024-07-14,"Badstrand Ballum, Ameland",goed,nl,Zwemlocatie Badstrand Ballum is een zwemlocati...,POINT (5.6949 53.4627)

## Datamodel