In [34]:
import geopandas as gpd
from requests import Request
from owslib.wfs import WebFeatureService

In [35]:
url = "https://pubgeo.zwemwater.nl/geoserver/zwr_public/wfs"
wfs = WebFeatureService(url=url)

In [36]:
def load_wfs_layer(layer_name):
    params = dict(service='WFS', version="2.0.0", request='GetFeature',
      typeName=layer_name, outputFormat='json', srsName="EPSG:4326")
    wfs_request_url = Request('GET', url, params=params).prepare().url
    return gpd.read_file(wfs_request_url)

## Zwemplekken

In [57]:
zwemplekken = load_wfs_layer("zwr_public:zwemplekken")
zwemplekken = zwemplekken.drop(columns=['id', 'datum']).drop_duplicates(subset=["zwemwaterlocatie_id"]).set_index('key_id')
zwemplekken

,korte_naam,naam,status,zwemwaterlocatie_id,geometry
key_id,,,,,
6187300,Voorveldse Polder,Voorveldse Polder,NEGATIEF_ZWEMADVIES,1185,POINT (5.1522 52.1005)
2316,'t Kleine Zeetje,Recreatiepark 't Kleine Zeetje,NEGATIEF_ZWEMADVIES,1595,POINT (5.3762 52.2602)
1946,Plas Merwelanden,Plas Merwelanden,NEGATIEF_ZWEMADVIES,1225,POINT (4.7658 51.8102)
1954,Plas Vrijenburgbos,Plas Vrijenburgbos,NEGATIEF_ZWEMADVIES,1233,POINT (4.5003 51.868)
1962,Kralinger Esch,Kralinger Esch,NEGATIEF_ZWEMADVIES,1241,POINT (4.5253 51.9138)
...,...,...,...,...,...
8184932,'t Gorsselaar,Bussloo 't Gorsselaar,goed,8184902,POINT (6.0963 52.2021)
8184934,De Kuiter,Bussloo De Kuiter (Naturistenstrand),goed,8184903,POINT (6.0998 52.1959)
8186500,Aquapark,Kempervennen Aquapark,goed,8186460,POINT (5.4247 51.3272)
8192100,Oude Tol,Oude Tol,goed,8192060,POINT (4.3975 51.8305)
8194230,Badstrand Ballum,"Badstrand Ballum, Ameland",goed,8194200,POINT (5.6959 53.4642)

In [58]:
zwemplekken_details = load_wfs_layer("zwr_public:zwemplekken_details")
zwemplekken_details = zwemplekken_details.drop(columns=["id", "info_id", "geometry", "datum"])
zwemplekken_details

,adr_huisletter,adr_huisnummer,adr_huisnummertoevoeging,adr_postcode,adr_straat,adr_woonplaats,info_filename,info_length,info_mime_type,key_id,...,org_straat,org_telefoon,org_website,org_woonplaats,status,taal,tekst,toegang,website,zwemwaterlocatie_id
0,None,NaN,None,None,De Dreef,Heerenveen,FR-043-001 De Heide.jpg,356023.0,image/jpeg,1676,...,,0513-617 617,http://www.heerenveen.nl,Heerenveen,goed,nl,"Het recreatiegebied “De Heide”, ligt aan de zu...",OPENBAAR ONBETAALD,None,955
1,,NaN,,None,Spokedam,Noordwolde,FR-046-001 Spoekeplas.jpg,297473.0,image/pjpeg,1677,...,,050 707 4444,http://www.staatsbosbeheer.nl,Groningen,goed,nl,Het zwemwater Spoekeplas ligt ten zuidwesten v...,OPENBAAR ONBETAALD,None,956
2,None,NaN,None,None,Canada,Appelscha,Canadameer Appelscha.png,212248.0,image/png,1678,...,,050 707 4444,http://www.staatsbosbeheer.nl,Groningen,goed,nl,Het Canadameer (ook wel Aekingermeer genoemd) ...,OPENBAAR ONBETAALD,None,957
3,None,NaN,None,None,Kleasterkampen,Smalle Ee,FR-028-001 Smeliester SaÌ‚n.jpg,210638.0,image/pjpeg,1680,...,,0512-581234,http://www.smallingerland.nl,Drachten,goed,nl,Het zwemwater ligt aan de zuidzijde van het ge...,OPENBAAR ONBETAALD,None,959
4,None,NaN,None,None,Bildreed,Rottevalle,FR-027-001 De Leien.jpg,209646.0,image/pjpeg,1681,...,,050 707 4444,http://www.staatsbosbeheer.nl,Groningen,WAARSCHUWING,nl,Het zwemwater ligt enkele kilometers ten noord...,OPENBAAR ONBETAALD,None,960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,None,NaN,None,None,Kneuterstraat,Wilp,GLD-004-007 BUSSLOO GORSSELAAR 2020.jpg,2995096.0,image/jpeg,8184932,...,Westervoortsedijk 73-LB,026-3848800,http://www.leisurelands.nl,Arnhem,goed,nl,De recreatieplas Bussloo ligt temidden van de ...,Openbaar betaald parkeren voor auto's,http://www.leisurelands.nl/,8184902
951,None,NaN,None,None,Bloemenksweg,Wilp,GLD-004-013 BUSSLOO DE KUITER 2020.jpg,2981855.0,image/jpeg,8184934,...,Westervoortsedijk 73-LB,026-3848800,http://www.leisurelands.nl,Arnhem,goed,nl,De recreatieplas Bussloo ligt temidden van de ...,"Openbaar, betaald parkeren voor auto's",http://www.leisurelands.nl/,8184903
952,None,8.0,None,5563VB,Kempervennendreef,Westerhoven,None,NaN,None,8186500,...,Bosscheweg,(0411) 618 618,http://www.dommel.nl/,Boxtel,goed,nl,zwemlocatie Aquapark is ingericht als een drij...,Openbaar toegankelijk via kaartjesverkoop,None,8186460
953,None,35.0,None,3263RA,Randweg,Oud-Beijerland,None,NaN,None,8192100,...,Sportlaan,088-6473647,https://www.gemeentehw.nl/,Maasdam,goed,nl,De zwemlocatie heeft een zwembaai gelegen aan ...,None,None,8192060
954,None,NaN,None,None,None,Ballum,None,NaN,None,8194230,...,None,0519-555555,http://www.ameland.nl,Ameland,goed,nl,Zwemlocatie Badstrand Ballum is een zwemlocati...,None,None,8194200

In [39]:
base_data = zwemplekken_details.copy()
base_data = base_data[["zwemwaterlocatie_id", "naam", "korte_naam", "status", "tekst", "info_filename", "website"]]
base_data

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website
0,955,De Heide,Heide,goed,"Het recreatiegebied “De Heide”, ligt aan de zu...",FR-043-001 De Heide.jpg,None
1,956,Spoekeplas,Spoekeplas,goed,Het zwemwater Spoekeplas ligt ten zuidwesten v...,FR-046-001 Spoekeplas.jpg,None
2,957,Canadameer,Canadameer,goed,Het Canadameer (ook wel Aekingermeer genoemd) ...,Canadameer Appelscha.png,None
3,959,Smeliester Sân,Smeliester Sân,goed,Het zwemwater ligt aan de zuidzijde van het ge...,FR-028-001 Smeliester SaÌ‚n.jpg,None
4,960,De Leien,De Leien,WAARSCHUWING,Het zwemwater ligt enkele kilometers ten noord...,FR-027-001 De Leien.jpg,None
...,...,...,...,...,...,...,...
950,8184902,Bussloo 't Gorsselaar,'t Gorsselaar,goed,De recreatieplas Bussloo ligt temidden van de ...,GLD-004-007 BUSSLOO GORSSELAAR 2020.jpg,http://www.leisurelands.nl/
951,8184903,Bussloo De Kuiter (Naturistenstrand),De Kuiter,goed,De recreatieplas Bussloo ligt temidden van de ...,GLD-004-013 BUSSLOO DE KUITER 2020.jpg,http://www.leisurelands.nl/
952,8186460,Kempervennen Aquapark,Aquapark,goed,zwemlocatie Aquapark is ingericht als een drij...,None,None
953,8192060,Oude Tol,Oude Tol,goed,De zwemlocatie heeft een zwembaai gelegen aan ...,None,None
954,8194200,"Badstrand Ballum, Ameland",Badstrand Ballum,goed,Zwemlocatie Badstrand Ballum is een zwemlocati...,None,None

In [59]:
zwemplekdata = zwemplekken.merge(base_data, left_on="zwemwaterlocatie_id", right_on="zwemwaterlocatie_id", how="left")
zwemplekdata['lat'] = zwemplekdata['geometry'].y
zwemplekdata['lon'] = zwemplekdata['geometry'].x
zwemplekdata = zwemplekdata.drop(columns=["korte_naam_x", "naam_x", "status_x", "geometry"])
zwemplekdata = zwemplekdata.rename(columns={
    "naam_y": "naam",
    "korte_naam_y": "korte_naam",
    "status_y": "status"
})
zwemplekdata.sort_values(by=["naam"], inplace=True)
zwemplekdata

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website,lat,lon
821,1323,Engelermeer Oost,Engelermeer Oost,goed,Het Engelermeer is een serie kunstmatige plass...,NB-031-001 Engelermeer Oost.jpg,None,51.7046,5.2461
798,1259,'T Hoefsven,'T Hoefsven,goed,De locatie ligt ten zuidoosten van Waalwijk. E...,NB-063-001 't Hoefsven.jpg,None,51.6761,5.0942
339,1341,'T Nije Hemelriek,'T Nije Hemelriek,goed,De zwemlocatie “’t Nije Hemelriek” is gelegen ...,Recreatiezone_'t_Nije_Hemelriek.jpg,None,52.9725,6.7556
828,1315,'T Schaartven,'T Schaartven,goed,"‘t Schaartven is een voormalige zandwinplas, g...",None,None,51.5735,5.9749
342,1344,'T Veenmeer,'T Veenmeer,goed,De zwemlocatie ‟t Veenmeer is gelegen in Tynaa...,Recreatiezone_'t_Veenmeer.jpg,None,53.0829,6.6303
...,...,...,...,...,...,...,...,...,...
64,7941840,strand Kortgene Paardekreek,Paardekreek,WAARSCHUWING,Door camping de Paardekreek aangelegd zandstra...,None,None,51.5496,3.8096
921,7356682,strand zoutkamp,None,goed,strand zoutkamp in onderzoek,None,None,53.3388,6.2973
903,6837320,strand zuid Oldambtmeer,strand zuid,goed,strand zuid oldambtmeer,Recreatiezone Zuid Blauwe Stad kopie-1.jpg,None,53.1651,7.0372
902,6997562,strandje Brouwershaven,Brouwershaven,goed,Strandje naast jachthaven van Brouwershaven,None,None,51.7315,3.9154
302,1240,t Zwarte Plasje,'t Zwarte Plasje,goed,t Zwarte Plasje,42__t_Zwarte_Plasje.jpg,None,51.9593,4.4913

In [60]:
eu_designations = load_wfs_layer("zwr_public:eustatussen")
eu_designations = eu_designations[eu_designations['jaar'] == 2023].drop(columns=['type_eu_status_id', 'geometry', 'omschrijving', 'id'])
eu_designations

     code   key_id  jaar  zwemwaterlocatie_id
7010    1  8135490  2023                 1267
7011    1  8135491  2023                 1268
7012    1  8135492  2023                 1270
7013    1  8135493  2023                 1271
7014    1  8135494  2023                 1273
...   ...      ...   ...                  ...
7751    4  8167548  2023                 1112
7752    4  8167553  2023                 1118
7753    3  8167559  2023                 1124
7754    4  8167555  2023                 1120
7755    4  8167550  2023                 1114

[731 rows x 4 columns]

In [61]:
eu_current_designations = eu_designations.query("jaar == 2023")
eu_current_designations = eu_current_designations.drop(columns=["key_id", "jaar"])
eu_current_designations
data = zwemplekdata.merge(eu_current_designations, left_on="zwemwaterlocatie_id", right_on="zwemwaterlocatie_id", how="left")
data.fillna({'code': 0}, inplace=True)
data

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website,lat,lon,code
0,1323,Engelermeer Oost,Engelermeer Oost,goed,Het Engelermeer is een serie kunstmatige plass...,NB-031-001 Engelermeer Oost.jpg,None,51.7046,5.2461,1
1,1259,'T Hoefsven,'T Hoefsven,goed,De locatie ligt ten zuidoosten van Waalwijk. E...,NB-063-001 't Hoefsven.jpg,None,51.6761,5.0942,1
2,1341,'T Nije Hemelriek,'T Nije Hemelriek,goed,De zwemlocatie “’t Nije Hemelriek” is gelegen ...,Recreatiezone_'t_Nije_Hemelriek.jpg,None,52.9725,6.7556,1
3,1315,'T Schaartven,'T Schaartven,goed,"‘t Schaartven is een voormalige zandwinplas, g...",None,None,51.5735,5.9749,1
4,1344,'T Veenmeer,'T Veenmeer,goed,De zwemlocatie ‟t Veenmeer is gelegen in Tynaa...,Recreatiezone_'t_Veenmeer.jpg,None,53.0829,6.6303,1
...,...,...,...,...,...,...,...,...,...,...
950,7941840,strand Kortgene Paardekreek,Paardekreek,WAARSCHUWING,Door camping de Paardekreek aangelegd zandstra...,None,None,51.5496,3.8096,1
951,7356682,strand zoutkamp,None,goed,strand zoutkamp in onderzoek,None,None,53.3388,6.2973,1
952,6837320,strand zuid Oldambtmeer,strand zuid,goed,strand zuid oldambtmeer,Recreatiezone Zuid Blauwe Stad kopie-1.jpg,None,53.1651,7.0372,2
953,6997562,strandje Brouwershaven,Brouwershaven,goed,Strandje naast jachthaven van Brouwershaven,None,None,51.7315,3.9154,1
954,1240,t Zwarte Plasje,'t Zwarte Plasje,goed,t Zwarte Plasje,42__t_Zwarte_Plasje.jpg,None,51.9593,4.4913,1

In [62]:
measurements = load_wfs_layer("zwr_public:resultaatsen")
measurements = measurements.drop(columns=['id', 'datum_geplande_monstername', 'monitoring_datum_id', 'monitoring_plan_id', 'monster_id', 'type_object_id', 'geometry'])
measurements = measurements.sort_values(["zwemwaterlocatie_id", "object_begin_tijd", "type_object_code"])
measurements = measurements.drop_duplicates(subset=["zwemwaterlocatie_id", "type_object_code"], keep="last")
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
4215,90,2024-07-22 07:05:00+00:00,8321908,E_COLI,955
8652,15,2024-07-22 07:05:00+00:00,8321909,INTTNLETRCCN,955
4364,20,2024-07-29 09:03:00+00:00,8328070,E_COLI,956
8792,15,2024-07-29 09:03:00+00:00,8328071,INTTNLETRCCN,956
4365,15,2024-07-29 07:57:00+00:00,8328102,E_COLI,957
...,...,...,...,...,...
8722,15,2024-07-23 11:30:00+00:00,8325003,INTTNLETRCCN,8186460
4057,410,2024-07-16 12:32:00+00:00,8316128,E_COLI,8192060
8493,15,2024-07-16 12:32:00+00:00,8316140,INTTNLETRCCN,8192060
4381,20,2024-07-29 06:20:00+00:00,8328607,E_COLI,8194200
8809,15,2024-07-29 06:20:00+00:00,8328606,INTTNLETRCCN,8194200

In [63]:
measure = measurements.pivot_table(values='numerieke_waarde', index='zwemwaterlocatie_id', columns='type_object_code')
measure

type_object_code     E_COLI  INTTNLETRCCN
zwemwaterlocatie_id
955                    90.0          15.0
956                    20.0          15.0
957                    15.0          15.0
959                    50.0          60.0
960                   980.0         140.0
...                     ...           ...
8184902                15.0          15.0
8184903               144.0          15.0
8186460                15.0          15.0
8192060               410.0          15.0
8194200                20.0          15.0

[749 rows x 2 columns]

In [64]:
data = data.merge(measure, on="zwemwaterlocatie_id", how="left")
data

,zwemwaterlocatie_id,naam,korte_naam,status,tekst,info_filename,website,lat,lon,code,E_COLI,INTTNLETRCCN
0,1323,Engelermeer Oost,Engelermeer Oost,goed,Het Engelermeer is een serie kunstmatige plass...,NB-031-001 Engelermeer Oost.jpg,None,51.7046,5.2461,1,61.0,30.0
1,1259,'T Hoefsven,'T Hoefsven,goed,De locatie ligt ten zuidoosten van Waalwijk. E...,NB-063-001 't Hoefsven.jpg,None,51.6761,5.0942,1,15.0,46.0
2,1341,'T Nije Hemelriek,'T Nije Hemelriek,goed,De zwemlocatie “’t Nije Hemelriek” is gelegen ...,Recreatiezone_'t_Nije_Hemelriek.jpg,None,52.9725,6.7556,1,15.0,15.0
3,1315,'T Schaartven,'T Schaartven,goed,"‘t Schaartven is een voormalige zandwinplas, g...",None,None,51.5735,5.9749,1,15.0,15.0
4,1344,'T Veenmeer,'T Veenmeer,goed,De zwemlocatie ‟t Veenmeer is gelegen in Tynaa...,Recreatiezone_'t_Veenmeer.jpg,None,53.0829,6.6303,1,46.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...
950,7941840,strand Kortgene Paardekreek,Paardekreek,WAARSCHUWING,Door camping de Paardekreek aangelegd zandstra...,None,None,51.5496,3.8096,1,15.0,15.0
951,7356682,strand zoutkamp,None,goed,strand zoutkamp in onderzoek,None,None,53.3388,6.2973,1,161.0,15.0
952,6837320,strand zuid Oldambtmeer,strand zuid,goed,strand zuid oldambtmeer,Recreatiezone Zuid Blauwe Stad kopie-1.jpg,None,53.1651,7.0372,2,253.0,46.0
953,6997562,strandje Brouwershaven,Brouwershaven,goed,Strandje naast jachthaven van Brouwershaven,None,None,51.7315,3.9154,1,77.0,15.0
954,1240,t Zwarte Plasje,'t Zwarte Plasje,goed,t Zwarte Plasje,42__t_Zwarte_Plasje.jpg,None,51.9593,4.4913,1,15.0,15.0

In [65]:
zwemplek_voorziening = load_wfs_layer("zwr_public:zwemplek_voorziening")
zwemplek_voorziening

,id,aanvulling,code,groep,omschrijving,taal,key_id,voorziening_type_id,zwemplek_id,zwemwaterlocatie_id,geometry
0,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943907,GENERIEK,Infobord,None,597838,5943907,1811,1090,"POLYGON ((4.9613 52.2491, 4.9615 52.2492, 4.96..."
1,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943892,HYGIENE,Afvalbakken,None,599138,5943892,1935,1214,"POLYGON ((4.2478 51.8493, 4.2484 51.8496, 4.24..."
2,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943916,RECREATIE,Speelweide,None,6802511,5943916,6566150,6502091,POINT (5.7796 51.519)
3,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,EHBO post,5943900,ONBEPERKT,EHBO,nl,594394,5943900,1712,991,"POLYGON ((6.128 52.5405, 6.1282 52.5406, 6.129..."
4,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943915,RECREATIE,Speeltoestellen,None,597839,5943915,1811,1090,"POLYGON ((4.9613 52.2491, 4.9615 52.2492, 4.96..."
...,...,...,...,...,...,...,...,...,...,...,...
10998,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943929,RECREATIE,Zandstrand,None,8200653,5943929,7714058,1675,"POLYGON ((4.5976 52.5286, 4.5986 52.5285, 4.59..."
10999,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943929,RECREATIE,Zandstrand,None,8200654,5943929,2396,1675,"POLYGON ((4.5958 52.5236, 4.5957 52.5231, 4.59..."
11000,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943929,RECREATIE,Zandstrand,None,8200655,5943929,7714057,1675,"POLYGON ((4.5863 52.4989, 4.5876 52.4986, 4.58..."
11001,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943907,GENERIEK,Infobord,None,8273310,5943907,8011970,1115,"POLYGON ((4.7642 52.6814, 4.7641 52.681, 4.764..."
11002,zwemplek_voorziening.fid--1f54e7bc_19109d25247...,None,5943906,ONBEPERKT,Horeca,None,8273311,5943906,8011970,1115,"POLYGON ((4.7642 52.6814, 4.7641 52.681, 4.764..."

In [66]:
voorzieningen = zwemplek_voorziening.groupby('zwemwaterlocatie_id')['voorziening_type_id'].agg(list).reset_index()
voorzieningen

     zwemwaterlocatie_id                                voorziening_type_id
0                    955  [5943905, 5943906, 5943913, 5943913, 5943902, ...
1                    956  [5943905, 5943906, 5943913, 5943913, 5943902, ...
2                    957  [5943913, 5943930, 5943929, 5943907, 5943911, ...
3                    959  [5943913, 5943913, 5943902, 5943930, 5943929, ...
4                    960  [5943906, 5943913, 5943913, 5943902, 5943930, ...
..                   ...                                                ...
714              8184901  [5943891, 5943892, 5943916, 5943907, 5943929, ...
715              8184902  [5943892, 5943916, 5943913, 5943907, 5943929, ...
716              8184903  [5943891, 5943898, 5943892, 5943916, 5943913, ...
717              8186460      [5943928, 5943892, 5943915, 5943908, 5943917]
718              8194200  [5943891, 5943903, 5943892, 5943897, 5943927, ...

[719 rows x 2 columns]

In [67]:
data = data.merge(voorzieningen, on="zwemwaterlocatie_id", how="left")
data.rename(columns={
    "naam": "name",
    "korte_naam": "alternate_name",
    "status": "current_status",
    "tekst": "description",
    "info_filename": "photos",
    "code": "eu_designation",
    "E_COLI": "e_coli",
    "INTTNLETRCCN": "int_ent",
    "voorziening_type_id": "voorzieningen"
}, inplace=True)
data.set_index("zwemwaterlocatie_id", inplace=True)
data

,name,alternate_name,current_status,description,photos,website,lat,lon,eu_designation,e_coli,int_ent,voorzieningen
zwemwaterlocatie_id,,,,,,,,,,,,
1323,Engelermeer Oost,Engelermeer Oost,goed,Het Engelermeer is een serie kunstmatige plass...,NB-031-001 Engelermeer Oost.jpg,None,51.7046,5.2461,1,61.0,30.0,"[5943902, 5943930, 5943929, 5943896, 5943923, ..."
1259,'T Hoefsven,'T Hoefsven,goed,De locatie ligt ten zuidoosten van Waalwijk. E...,NB-063-001 't Hoefsven.jpg,None,51.6761,5.0942,1,15.0,46.0,"[5943930, 5943929, 5943892, 5943907, 5943911, ..."
1341,'T Nije Hemelriek,'T Nije Hemelriek,goed,De zwemlocatie “’t Nije Hemelriek” is gelegen ...,Recreatiezone_'t_Nije_Hemelriek.jpg,None,52.9725,6.7556,1,15.0,15.0,"[5943906, 5943913, 5943902, 5943930, 5943929, ..."
1315,'T Schaartven,'T Schaartven,goed,"‘t Schaartven is een voormalige zandwinplas, g...",None,None,51.5735,5.9749,1,15.0,15.0,"[5943892, 5943916, 5943897, 5943900, 5943929, ..."
1344,'T Veenmeer,'T Veenmeer,goed,De zwemlocatie ‟t Veenmeer is gelegen in Tynaa...,Recreatiezone_'t_Veenmeer.jpg,None,53.0829,6.6303,1,46.0,15.0,"[5943901, 5943913, 5943906, 5943900, 5943892, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
7941840,strand Kortgene Paardekreek,Paardekreek,WAARSCHUWING,Door camping de Paardekreek aangelegd zandstra...,None,None,51.5496,3.8096,1,15.0,15.0,NaN
7356682,strand zoutkamp,None,goed,strand zoutkamp in onderzoek,None,None,53.3388,6.2973,1,161.0,15.0,NaN
6837320,strand zuid Oldambtmeer,strand zuid,goed,strand zuid oldambtmeer,Recreatiezone Zuid Blauwe Stad kopie-1.jpg,None,53.1651,7.0372,2,253.0,46.0,"[5943927, 5943897, 5943892, 5943929, 5943916, ..."
6997562,strandje Brouwershaven,Brouwershaven,goed,Strandje naast jachthaven van Brouwershaven,None,None,51.7315,3.9154,1,77.0,15.0,NaN
1240,t Zwarte Plasje,'t Zwarte Plasje,goed,t Zwarte Plasje,42__t_Zwarte_Plasje.jpg,None,51.9593,4.4913,1,15.0,15.0,"[5943929, 5943902, 5943930, 5943892, 5943927, ..."

# Voorzieningen

In [49]:
unique_amenities = zwemplek_voorziening.copy()
unique_amenities = unique_amenities.drop_duplicates("code").drop(columns=['id', 'taal', 'zwemplek_id', 'zwemwaterlocatie_id', 'geometry'])
unique_amenities = unique_amenities[['voorziening_type_id', 'omschrijving', 'groep']].set_index('voorziening_type_id')
unique_amenities

                                     omschrijving       groep
voorziening_type_id
5943907                                  Infobord    GENERIEK
5943892                               Afvalbakken     HYGIENE
5943916                                Speelweide   RECREATIE
5943900                                      EHBO   ONBEPERKT
5943915                           Speeltoestellen   RECREATIE
5943891                           Aflopende bodem  VEILIGHEID
5943927                            WC / Toiletten     HYGIENE
5943911                                  Ligweide   RECREATIE
5943917                                Strandhuis   RECREATIE
5943898                                 Drijflijn  VEILIGHEID
5943913                        Parkeergelegenheid   ONBEPERKT
5943906                                    Horeca   ONBEPERKT
5943895                        Diepte zwemlocatie  VEILIGHEID
5943930                                Zoet water    GENERIEK
5943894                               Blauwe vlag   ONBEPERKT
5943902                           Fietsenstalling    GENERIEK
5943901                             Entreeheffing   ONBEPERKT
5943932                       Zwemzone afgebakend  VEILIGHEID
5943897                                   Douches     HYGIENE
5943893                         Bereikbaar met OV    GENERIEK
5943905                         Honden toegestaan   ONBEPERKT
5943929                                Zandstrand   RECREATIE
5943903                              Getijdewater  VEILIGHEID
5943923                      Toezicht categorie D  VEILIGHEID
5943931                                Zout water    GENERIEK
5943912                               Naaktstrand   RECREATIE
5943890                         Afdrijvingsgevaar  VEILIGHEID
5943919                        Surf mogelijkheden   RECREATIE
5943914                           Reddingsbrigade   ONBEPERKT
5943922                      Toezicht categorie C   ONBEPERKT
5943924                            Trailerhelling   ONBEPERKT
5943925                               Uitkijkpost   ONBEPERKT
5943920                            Teken aanwezig   ONBEPERKT
5943910                               Kleedruimte   RECREATIE
5943896                                 Doorzicht  VEILIGHEID
5943921               Toegankelijk voor invaliden    GENERIEK
5943904                                   Grootte    GENERIEK
5943926              Voorzieningen voor invaliden    GENERIEK
5943899                                 Duiktoren   RECREATIE
5943909                    Kitesurf mogelijkheden   RECREATIE
5943908                      Jetski mogelijkheden   RECREATIE
5943918                            Strandrolstoel    GENERIEK
5943928                             Waterglijbaan   RECREATIE

## EU Designations

## Measurements

In [50]:
measurements = load_wfs_layer("zwr_public:resultaatsen")
measurements = measurements.drop(columns=['id', 'datum_geplande_monstername', 'monitoring_datum_id', 'monitoring_plan_id', 'monster_id', 'type_object_id', 'geometry'])
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
0,15,2024-04-08 08:41:00+00:00,8200826,E_COLI,1076
1,15,2024-04-08 07:00:00+00:00,8200863,E_COLI,1036
2,15,2024-04-08 08:33:00+00:00,8200868,E_COLI,1075
3,15,2024-04-08 10:09:00+00:00,8200918,E_COLI,1079
4,15,2024-04-08 06:15:00+00:00,8200936,E_COLI,302622
...,...,...,...,...,...
8871,15,2024-07-29 07:12:28+00:00,8330952,INTTNLETRCCN,1389
8872,15,2024-07-29 10:46:33+00:00,8330976,INTTNLETRCCN,991
8873,15,2024-07-29 07:29:32+00:00,8331010,INTTNLETRCCN,1400
8874,30,2024-07-29 09:48:16+00:00,8331034,INTTNLETRCCN,997
8875,15,2024-07-29 09:42:11+00:00,8331058,INTTNLETRCCN,998

In [51]:
measurements.dtypes

numerieke_waarde                     int32
object_begin_tijd      datetime64[ms, UTC]
key_id                               int32
type_object_code                    object
zwemwaterlocatie_id                  int32
dtype: object

In [52]:
measurements = measurements.sort_values(["zwemwaterlocatie_id", "object_begin_tijd", "type_object_code"])
measurements = measurements.drop_duplicates(subset=["zwemwaterlocatie_id", "type_object_code"], keep="first")
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
694,15,2024-04-29 08:18:00+00:00,8222613,E_COLI,955
5139,20,2024-04-29 08:18:00+00:00,8222614,INTTNLETRCCN,955
293,15,2024-04-22 08:34:00+00:00,8214575,E_COLI,956
4735,15,2024-04-22 08:34:00+00:00,8214576,INTTNLETRCCN,956
294,15,2024-04-22 09:18:00+00:00,8214597,E_COLI,957
...,...,...,...,...,...
4635,15,2024-04-16 09:40:46+00:00,8207897,INTTNLETRCCN,8186460
426,76,2024-04-22 12:32:00+00:00,8217486,E_COLI,8192060
4871,15,2024-04-22 12:32:00+00:00,8217488,INTTNLETRCCN,8192060
318,15,2024-04-22 06:30:00+00:00,8215090,E_COLI,8194200
4760,15,2024-04-22 06:30:00+00:00,8215079,INTTNLETRCCN,8194200

## Preventative measures

In [53]:
preventative_measures = load_wfs_layer("zwr_public:zwemplek_maatregel")
preventative_measures = preventative_measures.drop(columns=['id', 'bw_code', 'object_type', 'toelichtingstandaardextended', 'type', 'geometry', 'zwemplek_naam'])
preventative_measures

,key_id,objectbegintijd,objecteindtijd,omschrijving,redeningetrokken,status,toelichtingpubliek,toelichtingstandaard,zwemplek_id,zwemwaterlocatie_id
0,8326441,2024-07-28,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,1879,1158
1,8224744,2024-04-30,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_KWALITEIT,1813,1092
2,8322991,2024-07-24,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_ZWEMMERSJEUK,2073,1352
3,8327543,2024-07-30,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,2096,1375
4,8313084,2024-07-17,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_KWALITEIT,1681,960
...,...,...,...,...,...,...,...,...,...,...
137,8322990,2024-07-23,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,7942930,7942900
138,8311844,2024-07-16,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1685,964
139,8251953,2024-05-28,NaT,None,None,WAARSCHUWING,Gevaarlijke waterbodem,WAARSCHUWING_ONVEILIGE_SITUATIE,302028,1502
140,8287239,2024-06-26,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1985,1264
141,8327549,2024-07-30,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1891,1170

In [54]:
unique_prevention_codes = preventative_measures.drop_duplicates('toelichtingstandaard')
unique_prevention_codes['toelichtingstandaard']

0                                   ONTRADEN_BLAUWALG
1                                  ONTRADEN_KWALITEIT
2                               ONTRADEN_ZWEMMERSJEUK
4                              WAARSCHUWING_KWALITEIT
9               WAARSCHUWING_BIJZONDERE_OMSTANDIGHEID
13                              WAARSCHUWING_BLAUWALG
17                    WAARSCHUWING_ONVEILIGE_SITUATIE
22    NORMOVERSCHRIJDING_GECONSTATEERD_WATERKWALITEIT
24                  ONTRADEN_BIJZONDERE_OMSTANDIGHEID
27                          WAARSCHUWING_ZWEMMERSJEUK
93                        ONTRADEN_ONVEILIGE_SITUATIE
Name: toelichtingstandaard, dtype: object

In [55]:
messages = preventative_measures.dropna(subset=['toelichtingpubliek'])
messages = messages[['zwemwaterlocatie_id', 'toelichtingpubliek']]
messages

     zwemwaterlocatie_id                                 toelichtingpubliek
6                   1366  De waterkwaliteit is op dit moment goed. Volge...
8                   1623  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
9                   1517  Er geldt een waarschuwing i.v.m. aanwezigheid ...
11                  1237  Er zijn meerdere bezoekers met huidklachten na...
17               6502090  waarschuwing in verband met verminderd doorzic...
18                  1552  I.v.m. zichtbare drijflagen en geuroverlast ge...
22                302622  In verband met een te hoge waarde PFAS is zwem...
24                  1225  Het negatieve zwemadvies vanwege de PFAS-veron...
27               5921821  Waarschuwing voor zwemmersjeuk. Kans op huidir...
28                  1382  Op deze locatie is tevens sprake van een verho...
33                  1586  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
34                  1406               Er wordt nader onderzoek uitgevoerd.
37                  1241  Negatief zwemadvies vanwege PFAS-verontreinigi...
38                  1233  Het negatieve zwemadvies vanwege de PFAS-veron...
39                  1114  Dit gaat NIET over de actuele kwaliteit van he...
48                  1382  Op deze locatie is tevens sprake van een verho...
52               7356360                              Kans op huidirritatie
53               7941840  Er geldt een waarschuwing i.v.m. aanwezigheid ...
57                  1212                kuilen en steil talud in waterbodem
59                  1141     grillige waterbodem en steil talud in zwemzone
63                  1015  Zwemmen ontraden vanwege onvoldoende waterkwal...
64               6669260  Negatief Zwemadvies i.v.m. veel te hoge PFAS w...
66               6672410  Er geldt een waarschuwing i.v.m. aanwezigheid ...
74                  1440  Waarschuwing voor blauwalgen. Kans op huidirri...
76               6249511  Per 01-05-2024 is er een Negatief Zwemadvies i...
84                  1166  Voor deze locatie geldt gedurende het gehele z...
87                  1030  Waarschuwing voor een verminderde waterkwalite...
93                   973  ernstige slibvorming, gevaarlijk zuigende wate...
107                 1185  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
113                 1581  I.v.m. een gemeten normoverschrijding voor bla...
122                 1551  I.v.m. zichtbare drijflagen en geuroverlast ge...
124                 1030  Waarschuwing voor een verminderde waterkwalite...
131                 1595  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
132                 1191  Voor deze locatie geldt gedurende het gehele z...
135                 1167  Voor deze locatie geldt gedurende het gehele z...
139                 1502                             Gevaarlijke waterbodem

In [56]:
locs = load_wfs_layer("zwr_public:zwemwaterlocaties")
locs = locs.drop(columns=["id", "datum", "objecttype", "zwl_acht_info"])
locs

,begin_dag,begin_maand,eind_dag,eind_maand,gebied_id,key_id,korte_naam,laatstbijgewerkt,laatstemonstername,naam,status,zwl_besch_taal,zwl_besch_tekst,geometry
0,1,5,30,9,29087,955,De Heide,2012-09-07 07:39:43.684000+00:00,2024-07-21,"De Heide, Heerenveen",goed,nl,"Het recreatiegebied “De Heide”, ligt aan de zu...",POINT (5.9211 52.9406)
1,1,5,30,9,29085,956,Spoekeplas,2012-09-06 13:13:39.171000+00:00,2024-07-28,"Spoekeplas, Noordwolde",goed,nl,Het zwemwater Spoekeplas ligt ten zuidwesten v...,POINT (6.1331 52.8795)
2,1,5,30,9,29085,957,Canadameer,2012-09-06 13:14:39.480000+00:00,2024-07-28,"Canadameer, Appelscha",goed,nl,Het Canadameer (ook wel Aekingermeer genoemd) ...,POINT (6.2817 52.9355)
3,1,5,30,9,29085,959,Smeliester Sân,2012-09-06 13:13:06.324000+00:00,2024-07-28,"Smeliester Sân, Smalle Ee",goed,nl,Het zwemwater ligt aan de zuidzijde van het ge...,POINT (6.0204 53.107)
4,1,5,30,9,29086,960,De Leien,2012-09-06 13:08:13.373000+00:00,2024-07-28,"De Leien, Rottevalle",WAARSCHUWING,nl,Het zwemwater ligt enkele kilometers ten noord...,POINT (6.0803 53.1564)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756,1,5,30,9,304862,8184902,'t Gorsselaar,2024-04-18 15:28:41.740000+00:00,2024-07-21,Bussloo 't Gorsselaar,goed,nl,De recreatieplas Bussloo ligt temidden van de ...,POINT (6.0964 52.2023)
757,1,5,30,9,304862,8184903,De Kuiter,2024-04-18 15:34:14.432000+00:00,2024-07-22,Bussloo De Kuiter (Naturistenstrand),goed,nl,De recreatieplas Bussloo ligt temidden van de ...,POINT (6.0987 52.1957)
758,1,5,30,9,29515,8186460,Aquapark,2024-02-13 12:04:53.027000+00:00,2024-07-22,Kempervennen Aquapark,goed,nl,zwemlocatie Aquapark is ingericht als een drij...,POINT (5.4249 51.3272)
759,1,5,30,9,304867,8192060,Oude Tol,2024-03-11 10:46:50.618000+00:00,2024-07-15,Oude Tol,goed,nl,De zwemlocatie heeft een zwembaai gelegen aan ...,POINT (4.3975 51.8305)
760,1,5,30,9,29082,8194200,Badstrand Ballum,2024-04-08 12:05:57.946000+00:00,2024-07-28,"Badstrand Ballum, Ameland",goed,nl,Zwemlocatie Badstrand Ballum is een zwemlocati...,POINT (5.6949 53.4627)

## Datamodel