In [47]:
from bs4 import BeautifulSoup
from datetime import datetime
import requests
import uuid
import pandas as pd
import sqlite3

name = "Sloterplas"
id = str(uuid.uuid5(uuid.NAMESPACE_DNS, name))
lat, long = 52.3712858,4.8242057

In [48]:
locations = pd.DataFrame(
    [[id, name, name, lat, long]],
    columns=["id", "name", "alternate_name", "lat", "long"]
).set_index("id")
locations

,name,alternate_name,lat,long
id,,,,
48da68d1-e6af-53df-961a-dfc6598035d5,Sloterplas,Sloterplas,52.371286,4.824206

In [49]:
# db = sqlite3.connect("../dataset.sqlite3")
# locations.to_sql("locations", db, if_exists="append")

In [50]:
page = requests.get("https://www.amsterdam.nl/toerisme-vrije-tijd/parken/sloterpark/waterkwaliteit-sloterplas/")
soup = BeautifulSoup(page.text)
currentMeasurements = soup.find("table")
date = currentMeasurements.find_all("th")[2].get_text()
date = f"{date} {datetime.now().year}"
date

'11 juli 2024'

In [51]:
eColi = currentMeasurements.find_all("tr")[1].find_all("td")[2].get_text()
intEnt = currentMeasurements.find_all("tr")[2].find_all("td")[2].get_text()
blueAlg = currentMeasurements.find_all("tr")[3].find_all("td")[2].get_text()

In [52]:
print(date, eColi, intEnt, blueAlg)

11 juli 2024 969 93 6.1