In [1]:
import requests
import uuid
import pandas as pd
import sqlite3

name = "Sloterplas"
id = str(uuid.uuid5(uuid.NAMESPACE_DNS, name))
lat, long = 52.3712858,4.8242057

In [2]:
locations = pd.DataFrame(
    [[id, name, name, lat, long]],
    columns=["id", "name", "alternate_name", "lat", "long"]
).set_index("id")
locations

,name,alternate_name,lat,long
id,,,,
48da68d1-e6af-53df-961a-dfc6598035d5,Sloterplas,Sloterplas,52.371654,4.815303

In [3]:
db = sqlite3.connect("../dataset.sqlite3")
locations.to_sql("locations", db, if_exists="append")

1