In [57]:
import requests
import pandas as pd
import sqlite3

In [58]:
server = "https://environment.data.gov.uk/wales/bathing-waters/doc/bathing-water?_pageSize=1000&_view=bathing-water&_properties=latestProfile.countyName.name%2Cdistrict.alias%2ClatestSampleAssessment.followingSuspension.endOfSuspension%2ClatestSampleAssessment.sampleDateTime.ordinalYear%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestComplianceAssessment.assessmentQualifier%2ClatestComplianceAssessment.assessmentRegime&_lang=en%2Ccy%2Cnone"

In [59]:
data = requests.get(server, headers={"Accept": "application/json, text/javascript, */*; q=0.01"})
result = data.json()['result']['items']

In [60]:
df = pd.json_normalize(data.json()['result']['items'])
df["name"], df["alternate_name"] = [item[1]['_value']
                                    for item in df['name']], [item[0]['_value'] for item in df['name']]
df = df.rename(columns={
    "eubwidNotation": "id",
    "samplingPoint.lat": "lat",
    "samplingPoint.long": "long"
})
df.set_index("id")

,_about,district,name,regionalOrganization,sameAs,sedimentTypesPresent,type,waterQualityImpactedByHeavyRain,country._about,country.name,...,latestActiveSuspension.startOfSuspension._value,latestActiveSuspension.startOfSuspension._datatype,latestSampleAssessment.followingSuspension._about,latestSampleAssessment.followingSuspension.description,latestSampleAssessment.followingSuspension.expectedEndOfSuspension._value,latestSampleAssessment.followingSuspension.expectedEndOfSuspension._datatype,latestSampleAssessment.followingSuspension.label,latestSampleAssessment.followingSuspension.startOfSuspension._value,latestSampleAssessment.followingSuspension.startOfSuspension._datatype,alternate_name
id,,,,,,,,,,,,,,,,,,,,,
ukl2202-36050,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,Thraeth Penarth,http://naturalresources.wales/#nrw,http://environment.data.gov.uk/wales/bathing-w...,http://environment.data.gov.uk/def/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Penarth Beach
ukl2202-36100,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,"Jacksons Bay, Y Barri",http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,http://environment.data.gov.uk/def/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jackson's Bay Barry Island
ukl2202-36200,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,"Whitmore Bay, Y Barri",http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,http://environment.data.gov.uk/def/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Whitmore Bay Barry Island
ukl2202-36300,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,"Y Cnap, Y Barri",http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cold Knap Barry
ukl2202-36325,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,Watch House Bay,http://naturalresources.wales/#nrw,http://environment.data.gov.uk/wales/bathing-w...,[http://environment.data.gov.uk/def/bathing-wa...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gwylio Bae TÅ·
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ukl1301-40500,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,Kinmel Bay (Sandy Cove),http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bae Cinmel (Sandy Cove)
ukl1302-40550,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,"Marine Lake, Y Rhyl",http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,http://environment.data.gov.uk/def/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,False,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Marine Lake, Rhyl"
ukl1302-40600,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,Y Rhyl,http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,http://environment.data.gov.uk/def/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rhyl
ukl1302-40650,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,Y Rhyl - Traeth y Dwyrain,http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,http://environment.data.gov.uk/def/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rhyl East
ukl1302-40700,http://environment.data.gov.uk/wales/bathing-w...,[{'_about': 'http://data.ordnancesurvey.co.uk/...,Prestatyn,http://naturalresources.wales/#nrw,[http://environment.data.gov.uk/id/bathing-wat...,http://environment.data.gov.uk/def/bathing-wat...,[http://environment.data.gov.uk/def/bathing-wa...,True,http://data.ordnancesurvey.co.uk/id/country/wales,"[{'_value': 'Cymru', '_lang': 'cy'}, {'_value'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prestatyn

In [61]:
locations = df[[
    "id", "name", "alternate_name", "lat", "long"
]].copy().set_index("id")

In [62]:
locations

,name,alternate_name,lat,long
id,,,,
ukl2202-36050,Thraeth Penarth,Penarth Beach,51.432191,-3.168261
ukl2202-36100,"Jacksons Bay, Y Barri",Jackson's Bay Barry Island,51.391360,-3.263285
ukl2202-36200,"Whitmore Bay, Y Barri",Whitmore Bay Barry Island,51.388367,-3.273982
ukl2202-36300,"Y Cnap, Y Barri",Cold Knap Barry,51.389958,-3.296964
ukl2202-36325,Watch House Bay,Gwylio Bae TÅ·,51.387993,-3.286017
...,...,...,...,...
ukl1301-40500,Kinmel Bay (Sandy Cove),Bae Cinmel (Sandy Cove),53.316513,-3.525563
ukl1302-40550,"Marine Lake, Y Rhyl","Marine Lake, Rhyl",53.312900,-3.500900
ukl1302-40600,Y Rhyl,Rhyl,53.330877,-3.500066
ukl1302-40650,Y Rhyl - Traeth y Dwyrain,Rhyl East,53.325999,-3.486893
ukl1302-40700,Prestatyn,Prestatyn,53.346291,-3.415731

In [63]:
db = sqlite3.connect("../dataset.sqlite3")
locations.to_sql("locations", db, if_exists="append")

109