In [54]:
import requests
import json
import pandas as pd

In [55]:
server = "https://environment.data.gov.uk/wales/bathing-waters/doc/bathing-water?_pageSize=1000&_view=bathing-water&_properties=latestProfile.countyName.name%2Cdistrict.alias%2ClatestSampleAssessment.followingSuspension.endOfSuspension%2ClatestSampleAssessment.sampleDateTime.ordinalYear%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestComplianceAssessment.assessmentQualifier%2ClatestComplianceAssessment.assessmentRegime&_lang=en%2Ccy%2Cnone"

In [56]:
data = requests.get(server, headers={"Accept": "application/json, text/javascript, */*; q=0.01"})
result = data.json()['result']['items']

In [57]:
dataSet = []

In [58]:
for item in result:
    nameDF = pd.DataFrame(item['name'])
    name = nameDF.loc[nameDF['_lang'] == "en"]["_value"].values[0]
    
    dataSet.append(
        [item['eubwidNotation'], name, item['samplingPoint']['lat'], item['samplingPoint']['long']]
    )

In [60]:
dataDF = pd.DataFrame(dataSet, columns=['id', 'name', 'lat', 'long'])
dataDF

                id                            name        lat      long
0    ukl2202-36050                   Penarth Beach  51.432191 -3.168261
1    ukl2202-36100      Jackson's Bay Barry Island  51.391360 -3.263285
2    ukl2202-36200       Whitmore Bay Barry Island  51.388367 -3.273982
3    ukl2202-36300                 Cold Knap Barry  51.389958 -3.296964
4    ukl2202-36350  Col-Huw Beach (Llantwit Major)  51.396388 -3.501755
..             ...                             ...        ...       ...
102  ukl1301-40500         Kinmel Bay (Sandy Cove)  53.312447 -3.535445
103  ukl1302-40550               Marine Lake, Rhyl  53.312900 -3.500900
104  ukl1302-40600                            Rhyl  53.330877 -3.500066
105  ukl1302-40650                       Rhyl East  53.325999 -3.486893
106  ukl1302-40700                       Prestatyn  53.346291 -3.415731

[107 rows x 4 columns]

In [61]:
dataDF.to_csv("wales.csv")